[Unit]
Description=Gentoo Build Publisher Worker
Requires=gentoo-build-publisher-pre.service
After=gentoo-build-publisher-pre.service
After=gentoo-build-publisher-wsgi.service

[Service]
User=gbp
EnvironmentFile=/etc/gentoo-build-publisher.conf
Environment=DJANGO_SETTINGS_MODULE=djangoproject.settings
WorkingDirectory=/home/gbp
ExecStartPre=/home/gbp/bin/gbp check
ExecStart=/home/gbp/bin/gbp worker
Restart=on-failure

[Install]
WantedBy=multi-user.target
