:root {
  --bs-primary: #54487a;
  --bs-navbar-active-color: #ffffff;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: #4a4a4a;
  text-decoration: underline dotted;
}

.main {
  flex: 1;
}

.nav-link {
  color: var(--bs-navbar-active-color);
  font-family: var(--bs-body-font-family);
  font-weight: bolder;
}

.nav-link:hover {
  color: #ffffff;
}

header {
  font-family: "Bitter", "Open Sans", sans-serif;
}

main {
  color: rgb(51, 51, 51);
  margin: 2ex 5%;
}

.row {
  margin: 2ex 0;
}

.light-shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.tags {
    font-size: smaller;
    color: var(--bs-primary);
}

.published {
    font-weight: 600;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.main-header, .badge {
  background-color: var(--bs-primary);
}

.roundrec, .circle {
  fill: var(--bs-primary);
}

.external-link {
  text-decoration-style: dotted;
}

.metrics {
  background-color: var(--bs-primary);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 25px;
  width: 100%;
}

.metric {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-collapse: collapse;
  padding: 1rem;
  user-select: none;
}

.metric:hover {
   color: white;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.metric .number {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

.metric:first-child {
  border-radius: 25px 0 0 25px;
}

.metric:last-child {
  border-radius: 0 25px 25px 0;
}

.metric:first-child, .metric:last-child {
   border: none;
}

.footer {
  background-color: var(--bs-primary);
  color: #ffffff;
  padding: 1rem;
  font-size: smaller;
  text-align: center;
}

@media (max-width: 991.5px) {
  .metric:first-child {
    border-radius: 25px 25px 0 0;
  }

  .metric:last-child {
    border-radius: 0 0 25px 25px;
  }
}
