{% extends "gentoo_build_publisher/base.html" %}
{% load static %}

{% block main %}
  {% include "gentoo_build_publisher/dashboard/row1.html" %}
  {% include "gentoo_build_publisher/dashboard/row2.html" %}
  {% include "gentoo_build_publisher/dashboard/row3.html" %}
  {% include "gentoo_build_publisher/dashboard/row4.html" %}
{% endblock %}

{% block scripts %}
  {{ machine_dist|json_script:'machineDist' }}
  {{ builds_over_time|json_script:'bot' }}
  {{ machines|json_script:'machines' }}
  {{ bot_days|json_script:'botDays' }}
  {{ machine_colors|json_script:'machineColors' }}
  {{ total_package_size|json_script:'packageSizes' }}
  <script src="{% static 'gbp/dashboard.js' %}"></script>
{% endblock %}
