{% load gbp %}
<div class="row">
  <div class="col-md-6 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">Recent Unpublished</h4>
    <ul class="list-group mb-3">
      {% for build in latest_builds %}
      {% if not build in latest_published and build in built_recently %}
        {% build_row build build_packages %}
      {% endif %}
      {% endfor %}
      <li class="list-group-item d-flex justify-content-between">
        <span>Total</span>
        <strong>{{ unpublished_builds_count }}</strong>
      </li>
    </ul>
  </div>

  <div class="col-md-6 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">Latest Published</h4>
    <ul class="list-group mb-3">
      {% for build in latest_builds %}
      {% if build in latest_published %}
        {% build_row build build_packages %}
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
