.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  font-family: "Bitter", "Open Sans", sans-serif;
}

main {
  color: rgb(51, 51, 51);
  margin: 2ex 5%;
}

.row {
  margin: 2ex 0;
}

.bg-dark {
  background-color: #504575 !important;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
