{% load gbp %}
<div class="card">
    <h5 class="card-header">{{ build_count }} Build{{ build_count|pluralize }}</h5>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      {% block build-card-items %}
      {% card_item "Latest" latest_build.build_id True %}

      {% if published_build %}
        {% card_item "Published" published_build.build_id True %}
      {% else %}
        {% card_item "Published" "None" True %}
      {% endif %}

      {% card_item "Storage" storage|numberize:"b1"|add:"B" True %}
      {% card_item "Storage/Build" average_storage|numberize:"b1"|add:"B" True %}
      {% card_item "Packages built today" packages_built_today|length True %}
      {% endblock %}

      {% if published_build %}
        {% card_item "repos.conf" '<a href="repos.conf" download><i class="bi bi-download"></i></a>' %}
        {% card_item "binrepos.conf" '<a href="binrepos.conf" download><i class="bi bi-download"></i></a>' %}
      {% endif %}

    </ul>
  </div>
</div>
