<div class="row">
  <h3 id="plugins">Plugins</h3>
  <p>This Gentoo Build Publisher instance is using the following plugins:</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Version</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {% for plugin in plugins %}
      <tr>
        <th scope="row">{{ plugin.name }}</th>
        <td>{{ plugin.version }}</td>
        <td>{{ plugin.description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
