
<div class="row">
  <h3>Gentoo Build Publisher</h3>
  <p>
    Gentoo Build Publisher (GBP) is a Gentoo build server, binary package host
    (binhost), ebuild repo server, and configuration manager in one which uses
    continuous integration and other tools to deliver successful, consistent
    "builds" for a single machine or multiple heterogeneous Gentoo machines.
  </p>
  <p>
  For more information, see <a target="_blank" href="https://github.com/enku/gentoo-build-publisher">here</a>.
  </p>
</div>
