<!DOCTYPE html>
<html>
  <head>
    <title>Gentoo Build Publisher</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Gentoo Build Publisher</h1>
      </div>
      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th>Machine</th>
              <th>Builds</th>
              <th colspan="2">Last Build</th>
              <th colspan="2">Published</th>
            </tr>
          </thead>
          <tbody>
            {% for machine in machines %}
            <tr>
              <td>{{ machine.name }}</td>
              <td>{{ machine.build_count }}</td>
              {% if machine.last_build %}
              <td class="text-end">
                <a class="text-decoration-none" href="{{ machine.last_build.jenkins_build.url }}">{{ machine.last_build.number }}</a>
              </td>
              <td>
                <small class="text-muted">{{ machine.last_build.db.submitted }}</small>
              </td>
              {% else %}
              <td></td>
              <td></td>
              {% endif %}
              {% if machine.published %}
              <td class="text-end">
                <a class="text-decoration-none" href="{{ machine.published.jenkins_build.url }}">{{ machine.published.number }}</a>
              </td>
              <td>
                <small class="text-muted">{{ machine.published.db.submitted }}</small>
              </td>
              {% else %}
              <td></td>
              <td></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
